doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/form.css")

    body
        section
            .color
            .color
            .color
            .box

                .container
                    .form
                        h2 Inicia sesión en InfiNote
                        if locals.errores
                            .alertas
                                each categoria in Object.keys(locals.errores)
                                    each error in errores[categoria]
                                        .alerta(class=`${categoria}`)
                                            p= error 
                        form(method="POST"  action="/iniciarSesion")
                            .inputBox
                                input(type="email" name="email" placeholder="Tu email" value= email)
                            .inputBox
                                input(type="password" name="password" placeholder="Tu Password" value= password)
                            .inputBox
                                input(type="submit" value="Iniciar sesión")
                            p.forget ¿Olvidaste tu contraseña? 
                                a(href="/reestablecer") Click Aquí
                            p.forget ¿Aún no tienes cuenta? 
                                a(href="/usuarios/crear") Registrate!
